// Event Section CSS
.event-part {
    margin-bottom: 100px;
  
    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  
    @media (max-width: 575px) {
      margin-bottom: 60px;
    }
  
    .event-card {
      @media (max-width: 991px) {
        width: 300px;
      }
    }
  }
  